* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0D5687;
  width: 100%;
  height: 64px;
}

.nav .ham {
  margin-left: 16px;
}

.nav .clear {
  margin-left: 16px;
  display: none;
}

.nav .clear img {
  height: 28px;
}

.nav .logo {
  margin-left: 16px;
}

.nav .logo img {
  height: 40px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background-color: #0D5687;
  height: calc(var(--vh, 1vh) * 100);
  width: 60%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sidebar .link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 74px;
  margin-left: 13px;
  height: 300px;
  width: 100%;
  list-style-type: none;
}

.sidebar .link_box li {
  padding: 6px;
}

.sidebar .link_box li a {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 800;
  padding: 20px;
  text-decoration: none;
}

.active_sidebar {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 110px;
}

.main .heading h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #0D5687;
}

.main .subheading {
  margin-top: 16px;
}

.main .subheading p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #0D5687;
}

.illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
}

.illustration img {
  height: 160px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.button_container #learnmore_btn {
  height: 32px;
  width: 95px;
  min-width: 110px;
  margin-left: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 2px solid #0D5687;
  outline: none;
  color: #0D5687;
  border-radius: 4px;
  background-color: white;
}

.button_container #products_btn {
  height: 32px;
  width: 95px;
  min-width: 110px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #0D5687;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: RED;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #838383;
  margin: auto;
  width: 100%;
  position: relative;
}

.footer h4 {
  font-size: 14px;
}

.products {
  padding-top: 90px;
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.products .product_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .product_heading h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #0D5687;
}

.products .product_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.products .product_container .rak {
  height: 240px;
  width: 360px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #0D5687;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products .product_container .rak h1 {
  font-weight: 800;
}

.products .product_container .rak p {
  margin-top: 10px;
}

.products .product_container .dristi {
  margin-top: 10px;
  height: 240px;
  width: 360px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #0D5687;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products .product_container .dristi h1 {
  font-weight: 800;
}

.products .product_container .dristi p {
  margin-top: 10px;
}

.hideSide {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.kits {
  padding-top: 90px;
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.kits .kits_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kits .kits_heading h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #0D5687;
}

.kits .kits_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.kits .kits_container .kit_one {
  margin: 15px;
  height: 240px;
  width: 360px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #0D5687;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kits .kits_container .kit_one h1 {
  font-weight: 800;
}

.kits .kits_container .kit_one p {
  margin-top: 10px;
}

.kits .kits_container .kit_two {
  margin-left: 15px;
  height: 240px;
  width: 360px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #0D5687;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kits .kits_container .kit_two h1 {
  font-weight: 800;
}

.kits .kits_container .kit_two p {
  margin-top: 10px;
}

.kits .kits_container .kit_three {
  margin-left: 15px;
  height: 240px;
  width: 360px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #0D5687;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kits .kits_container .kit_three h1 {
  font-weight: 800;
}

.kits .kits_container .kit_three p {
  margin-top: 10px;
}

.kits .kits_container .kit_four {
  margin-left: 15px;
  height: 240px;
  width: 360px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #0D5687;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kits .kits_container .kit_four h1 {
  font-weight: 800;
}

.kits .kits_container .kit_four p {
  margin-top: 10px;
}

.kits .kits_container .kit_five {
  margin-left: 15px;
  height: 240px;
  width: 360px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #0D5687;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kits .kits_container .kit_five h1 {
  font-weight: 800;
}

.kits .kits_container .kit_five p {
  margin-top: 10px;
}

.about {
  display: none;
}

.aboutActive {
  height: 440px;
  width: 50%;
  background-color: #0D5687;
  color: #fff;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  top: 25%;
  left: 30%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  display: none;
  -webkit-animation: animate all 2s ease-in-out linear infinite;
          animation: animate all 2s ease-in-out linear infinite;
}

.aboutActive p {
  font-weight: 350;
  margin-top: 15px;
}

.aboutActive h3 {
  margin-top: 10px;
}

.aboutActive h2 {
  margin-top: 10px;
}

.aboutActive .close {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.aboutActive .close img {
  height: 22px;
}

.aboutActive .close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.rak_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
}

.rak_about button {
  height: 35px;
  width: 92px;
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #0D5687;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

@media all and (min-width: 600px) {
  .heading {
    font-size: 35px;
  }
  .subheading {
    font-size: 25px;
  }
  .ham {
    opacity: 0;
    pointer-events: none;
  }
  .clear {
    pointer-events: none;
    opacity: 0;
  }
  .illustration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: auto;
  }
  .illustration img {
    height: 300px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .links {
    display: inline;
    position: absolute;
    right: 16px;
    list-style-type: none;
  }
  .links li a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    margin: 10px;
    color: white;
  }
}

.ab {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

#ab {
  position: absolute;
  top: 199px;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 800;
  padding-left: 14px;
  text-decoration: none;
}

@media all and (max-width: 600px) {
  .links {
    display: none;
  }
  .aboutActive {
    width: 300px;
    left: 40px;
    background-color: #0D5687;
    color: #fff;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    display: none;
    -webkit-animation: animate all 2s ease-in-out linear infinite;
            animation: animate all 2s ease-in-out linear infinite;
  }
  .aboutActive p {
    font-weight: 350;
    margin-top: 15px;
    font-size: 13px;
  }
  .aboutActive h3 {
    margin-top: 10px;
  }
  .aboutActive h2 {
    margin-top: 10px;
    font-size: 18px;
  }
  .aboutActive .close {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  .aboutActive .close img {
    height: 22px;
  }
  .aboutActive .close:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}
/*# sourceMappingURL=main.css.map */